.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon {
  padding: 10px;
}

.nav-icon {
  color: #606060;
  margin-right: 24px;
  padding: 0;
}

.spacer-content {
  padding: 20px;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

mat-spinner {
  margin: auto;
  width: 300px;
}

.profile-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card  img{
  max-width: 50%;
}

.profile-card mat-card-title {
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 0;
}

.profile-card mat-card-subtitle {
  font-size: 0.8em;
  margin:0;
}
