<div class="pass">
<form>
  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Nova Senha</mat-label>
      <input matInput placeholder="Senha" type="password">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="outline">
      <mat-label>Confirme a Senha</mat-label>
      <input matInput placeholder="Confirme a Senha" type="password">
    </mat-form-field>
  </div>

  <div class="form-group">
    <button mat-raised-button color="primary">Salvar</button>
  </div>
</form>
</div>
