<div class="pass">
  <form [formGroup]="fGroup" novalidate>
    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Nova Senha</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" [type]="hideNewPassword ? 'password' : 'text'" />
        <mat-icon matSuffix class="show-hidde-password" (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="fGroup.controls.password.errors">
          <span *ngIf="fGroup.controls.password.errors.required">A senha deve ser informada</span>
          <span *ngIf="fGroup.controls.password.errors.minlength">A senha deve ter no mínimo 6 caracteres</span>
          <span *ngIf="fGroup.controls.password.errors.maxlength">A senha deve ter no máximo 25 caracteres</span>
        </mat-error>
      </mat-form-field>
    </div>


    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Confirme a Senha</mat-label>
        <input matInput type="password" placeholder="Confirme a Password" formControlName="confirmPassword"
          [type]="hideNewPassword ? 'password' : 'text'" />
        <mat-icon matSuffix class="show-hidde-password" (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="fGroup.controls.confirmPassword.errors">
          <span *ngIf="fGroup.controls.confirmPassword.errors.required">A senha deve ser informada</span>
          <span *ngIf="fGroup.controls.confirmPassword.errors.minlength">A senha deve ter no mínimo 6 caracteres</span>
          <span *ngIf="fGroup.controls.confirmPassword.errors.maxlength">A senha deve ter no máximo 25 caracteres</span>
          <span *ngIf="fGroup.controls.confirmPassword.errors.mustMatch">A confirmação da senha não é válida.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <button mat-raised-button color="primary" (click)="ngOnSubmit()" [disabled]="!fGroup.valid">Salvar</button>
    </div>
  </form>
</div>
