<div class="full-page">
  <mat-card class="reset-password-card">
    <div class="icon-lock"><mat-icon>lock</mat-icon></div>
    <mat-card-title>Esqueceu a Senha?</mat-card-title>
    <mat-card-subtitle>Você pode redefinir a sua senha aqui</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="fGroup" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
        <input matInput type="email" placeholder="Email" formControlName="email"/>
        <mat-error *ngIf="fGroup.controls.email.errors">
          <span *ngIf="fGroup.controls.email.errors.required">Informe seu email</span>
          <span *ngIf="fGroup.controls.email.errors.pattern">Informe um email válido</span>
        </mat-error>
      </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="reset-password-button" (click)="ngOnSubmit()" [disabled]="!fGroup.valid">
        Redefinir Senha
      </button>
    </mat-card-actions>

    <mat-card-footer>
     <div class="reset-password-account">
      <a [routerLink]="['/login']" title="Voltar a tela de login">Voltar ao Login</a>
     </div>
    </mat-card-footer>

  </mat-card>
</div>
