<mat-card>
  <mat-card-title>Editar Perfil</mat-card-title>
  <div class="cards">
  <div class="col-user-date">
    <div class="profile-card">
      <img src="assets/images/user.png">
       <h2>Wesley Reis</h2>
       <label>wesleydno2011@gmail.com</label>
       <app-theme></app-theme>
    </div>
  </div>
  <div class="col-edit-password">
    <mat-tab-group>
      <mat-tab label="Informações Básicas"> Informações Básicas
        <app-profile-details></app-profile-details>

      </mat-tab>
      <mat-tab label="Alterar Senha"> Alterar Senha
       <app-change-password></app-change-password>

      </mat-tab>
    </mat-tab-group>
  </div>



</div>
<mat-divider></mat-divider>
<mat-card-footer>
</mat-card-footer>

</mat-card>

