.cards {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.col-user{
  box-sizing: border-box;
  margin: 30px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card h2 {
  margin: 0;
}

.profile-card .profile-image {
  position: relative;

}

.profile-card .btn-image {
  position: absolute;
  overflow: visible;
  bottom: 0;
  right: 0;
}

.col-user-details{
  margin: 30px;
}

mat-card-footer{
  margin: 40px;
  margin-top: 10px;
}


@media(max-width:740px){
.cards{
  flex-direction: column;
}

mat-card-title{
  font-size: 20px;
}
.cards .col-user {
  margin: 0;
}
.cards .col-user-details {
  margin: 20px;
}

mat-card-footer{
  margin: 25px;
  margin-top: 5px;
}
}

@media(max-width:540px){
mat-card-title{
  font-size: 16px;
}
.cards .col-user {
  margin: 0;
}
.cards .col-user-details {
  margin: 20px;
}

mat-card-footer{
  margin: 25px;
  margin-top: 5px;
}

}
