
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-dashboard-primary: mat-palette($mat-indigo);
$my-dashboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-dashboard-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-dashboard-theme: mat-light-theme($my-dashboard-primary, $my-dashboard-accent, $my-dashboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-dashboard-theme);

@import '~@angular/material/theming';
@include mat-core();

$mat-primary-scheme: (
  100: #c5cae9,
  500: #3f51b5,
  700: #303f9f,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);

$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);

$mat-primary-palette: mat-palette($mat-primary-scheme);

$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);
}

$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.dark-mode {
  @include angular-material-theme($app-dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
